@{
    ViewData["Title"] = "Từ chối truy cập";
    Layout = "_LayoutAdmin";
}

<div class="flex flex-col items-center justify-center py-xl space-y-lg">
    <div class="size-20 bg-error-container flex items-center justify-center text-error mb-4">
        <span class="material-symbols-outlined text-4xl">gpp_maybe</span>
    </div>
    <div class="text-center space-y-md">
        <h3 class="text-label-sm uppercase tracking-[0.3em] text-error font-bold">Vi phạm bảo mật 403</h3>
        <p class="serif text-4xl font-bold">Không đủ quyền truy cập</p>
        <p class="text-body-md text-on-surface-variant max-w-md mx-auto">Thông tin đăng nhập của bạn không có quyền truy cập vào khu vực này. Vui lòng liên hệ với Quản trị viên cấp cao.</p>
    </div>
    <div class="pt-lg">
        <a asp-controller="Home" asp-action="Index" class="bg-primary text-on-primary px-xl py-4 text-label-sm uppercase tracking-[0.2em] font-bold hover:bg-neutral-800 transition-all">
            Quay về trang chủ
        </a>
    </div>
</div>
